/HerenciaElectrodomestico/nbproject/private/
/HerenciaElectrodomestico/build/
/interfaz/nbproject/private/
/interfaz/build/
/HerenciaSeleccionFutbol/build/
/HerenciaSeleccionFutbol/nbproject/private/
/figurasgeometricas/nbproject/private/
/HerenciaElectrodomesticoInterfaz/nbproject/private/
/HerenciaElectrodomesticoInterfaz/build/
/figurasgeometricas/build/
/HerenciaSelccionFutbol/nbproject/private/
/HerenciaSelccionFutbol/build/
/SeleccionFutbol/nbproject/private/